.cool-font {
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0px 0px 10px gray;
    color: beige;
}

.bkg-grey {
    background-color: grey;
}
.bkg-beige {
    background-color: beige;
}
.bkg-green {
    background-color: green;
}
.bkg-red {
    background-color: red;
}
.bkg-blue {
    background-color: blue;
}

@import "./game.scss";